* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.background{
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url(./bg-mountain.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.smallHeader {
  height: 10vh;
  width: 100vw;
  padding: 0% 5%;
  background-color: transparent;
  display: none;
  position:fixed;
  z-index: 2;
}

.closed {
  top: -100px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out;
}

.opened {
  top: 9.5vh;
  background-color: rgb(255, 255, 255);
  transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out;
}

nav {
  width: 100vw;
  height: 150px;
  padding-left: 5%;
  position: absolute;
  left: 0;
  top: 10vh;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: rgba(88, 88, 88, 0.637);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  background-color: white;
  z-index: 1;
  }
  
.navBtn {
  height: 50px;
  width: 100px;
  padding-top: 12.5px;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #64a19d;
  border-radius: 5%;
  color: #64a19d;
  display: none;
  z-index: 1;
}


.bootstrap {
  font-family: 'Nunito', sans-serif;
  font-size: 35px;
  font-weight: bolder;
  color: rgba(255, 255, 255, 0.637);
  z-index: 1;
}

.background {
  width: 100%;
  height: 100vh;
  background-color: rgb(107, 107, 107) ;
}




@media (max-width: 800px) {
  .smallHeader {
    padding: 0% 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
  }
  .navBtn {
    display: block;  
  }
  .navBtn:active {
    color: #46726f;
    border: 1px solid #46726f;
  }
  .bootstrap {
    color: black;
  }
  nav {
    padding: 0% 15%;
  }
}

@media (max-width: 500px) {
  .smallHeader {
    padding: 0% 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
  }
  .navBtn {
    display: block;
    height: 40px;
    width: 80px;
    font-size: 16px;
  }
  .navBtn:active {
    color: #46726f;
    border: 1px solid #46726f;
  }
  .bootstrap {
    font-size: 25px;
    font-weight: bold;
    color: black;
  }
  nav {
    padding: 0% 15%;
  }
  nav:active {
    color: rgba(88, 88, 88, 0.637)
  }
}



